body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 900px;
    text-align: center;
    padding-top: 10px;
}

.title {
    font-size: xx-large;
    margin-left: 225px;
    
    font-weight: 800;
    padding: 20px 0;
    border: 0;
    border-radius: 20px;
    margin-top: 55px;
    margin-bottom: 5px;
}

.button-34 {
    margin-left: 500px;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    /* padding-top: 80px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background: radial-gradient(#b92b27, #1565C0);
    padding: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 20px rgba(235, 14, 14, 0.6));
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

/* detail page */

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.detail .image img {
    width: 100%;
    transform: translateY(0);
    transform: scale(0.7);
}

.detail .image {
    position: relative;
}

.detail .image::before {
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;
}

.detail .name {
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}

.detail .price {
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.detail .buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.detail .buttons button {
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.detail .buttons svg {
    width: 15px;
}

.detail .buttons span {
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}

.detail .buttons button:nth-child(2) {
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}

.detail .description {
    font-weight: 300;
    color: aliceblue;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* iPad */
@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }

    .detail {
        grid-template-columns: 40% 1fr;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }

    .detail {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .detail .image img {
        width: unset;
        height: 40vh;
    }

    .detail .name {
        font-size: x-large;
        margin: 0;
    }

    .detail .buttons button {
        font-size: small;
    }

    .detail .buttons {
        justify-content: center;
    }
}
